.button1{
display:inline-block;
padding:0.5em 1.1em;
border:0.1em solid #FFFFFF;
margin:0 0.3em 0.3em 0;
border-radius:2em;
box-sizing: border-box;
text-decoration:none;
font-family:'Roboto',sans-serif;
font-weight:bold;
color:#1e0303;
text-align:center;
transition: all 0.2s;
}
.button1:hover{
color:#000000;
background-color:#FFFFFF;
}
@media all and (max-width:30em){
a.button1{
display:block;
margin:0.4em auto;
}
}

.submitButton{
display:inline-block;
padding:0.5em 1.1em;
border:0.1em solid #FFFFFF;
margin:0 0.3em 0.3em 0;
border-radius:2em;
box-sizing: border-box;
text-decoration:none;
font-family:'Roboto',sans-serif;
font-weight:bold;
color:#1e0303;
text-align:center;
transition: all 0.2s;
}
.submitButton:hover{
color:white;
background-color:lightgreen;
}
@media all and (max-width:30em){
a.submitButton{
display:block;
margin:0.4em auto;
}
}

.resetButton{
  display:inline-block;
  padding:0.5em 1.1em;
  border:0.1em solid #FFFFFF;
  margin:0 0.3em 0.3em 0;
  border-radius:2em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-weight:bold;
  color:#1e0303;
  text-align:center;
  transition: all 0.2s;
}
.resetButton:hover{
  color:white;
  background-color:red;
}
@media all and (max-width:30em){
  a.resetButton{
  display:block;
  margin:0.4em auto;
  }
}
