/*The method of copying every single method and class is bad and unefficient but i had problems getting SASS working so here we are*/
/*I can do better right now i just can't bother B)*/

.button1{
  width: 170px !important;
  font-size: 15px;
  display:inline-block;
  padding:0.1em 0.8em;
  border:0.1em solid #FFFFFF;
  margin:0 0.2em 0.2em 0;
  border-radius:2em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-weight:bold;
  color:#1e0303;
  text-align:center;
  transition: all 0.2s;
}
.button1:hover{
  color:#000000;
  background-color:#FFFFFF;
}
@media all and (max-width:30em){
a.button1{
  display:block;
  margin:0.4em auto;
}
}

.submitButton{
  font-size: 15px;
  width: 170px;
  display:inline-block;
  padding:0.1em 0.8em;
  border:0.1em solid #FFFFFF;
  margin:0 0.2em 0.2em 0;
  border-radius:2em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-weight:bold;
  color:#1e0303;
  text-align:center;
  transition: all 0.2s;
}
.submitButton:hover{
  color:white;
  background-color:lightgreen;
}
@media all and (max-width:30em){
  a.submitButton{
  display:block;
  margin:0.4em auto;
  }
}

.resetButton{
  font-size: 15px;
  width: 85px;
  display:inline-block;
  padding:0.1em 0.8em;
  border:0.1em solid #FFFFFF;
  margin:0 0.2em 0.2em 0;
  border-radius:2em;
  box-sizing: border-box;
  text-decoration:none;

  font-family:'Roboto',sans-serif;
  font-weight:bold;
  color:#1e0303;
  text-align:center;
  transition: all 0.2s;
}
.resetButton:hover{
  color:white;
  background-color:red;
}
@media all and (max-width:30em){
  a.resetButton{
  display:block;
  margin:0.4em auto;
  }
}

.tooltip-box{
  border-radius: 5em;
  font-family:'Roboto',sans-serif;
  font-weight:300;
  border-radius: 2em;
  z-index: 2;
  background-color: white; 
  position:absolute;
  padding: 10px;
  border: 1px solid black;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.undoButton{
  font-size: 15px;
  width: 85px;
  display:inline-block;
  padding:0.1em 0.8em;
  border:0.1em solid #FFFFFF;
  margin:0 0.2em 0.2em 0;
  border-radius:2em;
  box-sizing: border-box;
  text-decoration:none;

  font-family:'Roboto',sans-serif;
  font-weight:bold;
  color:#1e0303;
  text-align:center;
  transition: all 0.2s;
}
.undoButton:hover{
  color:white;
  background-color:orange;
}
@media all and (max-width:30em){
  a.undoButton{
  display:block;
  margin:0.4em auto;
  }
}

.disabled-button {
  background-color: gray;
  border-color: gray;
  cursor: not-allowed;
}

.disabled-button:hover {
  background-color: gray;
}

.infoButton{
  background-color: rgba(253,187,45,1);
  display:flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 1px solid black;
}